<section class="projects" id="projects">
  <h1>PROYECTOS</h1>
  <div class="text">
    <h4 class="h4">
      Some personal projects I've built fot both enjoyment and educational
      purposes.
    </h4>
  </div>
  <div class="box">
    <div class="left">
      <div class="container">
        <div class="item"><h4 class="h4">Nueva Federación</h4></div>
        <div class="item"><h4 class="h4">Sala de Juegos</h4></div>
        <div class="item"><h4 class="h4">Adudas tienda deportiva</h4></div>
      </div>
    </div>
    <div class="right">
      <div class="container">
        <div class="item"><h3 class="h3">Nueva Federación</h3></div>
        <div class="item">
          <div class="order">
            <h4 class="h4">Tecnologías</h4>
            <h4 class="h4">HTML, CSS, JS</h4>
          </div>
        </div>
        <div class="item">
          <div class="order">
            <h4 class="h4">Visitar</h4>
            <h4 class="h4"><a href="" class="a">nuevafederacion.com</a></h4>
          </div>
        </div>
        <div class="item">
          <h4 class="h4">Una página para las cabanañas de Nueva Federación</h4>
        </div>
      </div>
    </div>
  </div>
</section>
