.title {
  width: 100%;
}

.box {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.left {
  padding-top: 2em;
  width: 40%;
}
.right {
  width: 50%;
}

.container {
  width: 43%;
}

.a :hover {
  color: rgb(205, 225, 105);
  cursor: pointer;
}

.item {
  padding-top: 1.5em;
}

.item .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.7em;
}

.item::after {
  content: "";
  height: 1px;
  width: 100%;
  margin-top: 15px;
  background-color: rgb(235, 255, 105);
  display: block;
}

.item-img {
  padding-top: 3em;
  display: flex;
  justify-content: center;
}

.img {
  width: 95%;
}
