<section class="projects" id="projects">
  <h1>PROYECTOS</h1>
  <div class="text">
    <h4 class="h4">
      Some personal projects I've built fot both enjoyment and educational
      purposes.
    </h4>
  </div>
  <div class="box">
    <div class="container">
      <div class="item"><h4 class="h4">Nueva Federación</h4></div>
      <div class="item"><h4 class="h4">Sala de Juegos</h4></div>
      <div class="item"><h4 class="h4">Adudas tienda deportiva</h4></div>
    </div>
    <div class="container">
      <div class="item"><h3 class="h3">Nueva Federación</h3></div>
      <div class="item">
        <div class="list">
          <h4 class="h4">Tecnologías</h4>
          <h4 class="h4">HTML, CSS, JS</h4>
        </div>
      </div>
      <div class="item">
        <div class="list">
          <h4 class="h4">Ver en github</h4>
          <h4 class="h4">
            <small>
              <a
                href="https://github.com/axlbg/complejo-nuevafederacion/"
                class="a"
                target="_blank"
                >/axlbg/complejo-nuevafederacion/</a
              >
            </small>
          </h4>
        </div>
      </div>
      <div class="item">
        <div class="list">
          <h4 class="h4">Visitar</h4>
          <h4 class="h4">
            <small>
              <a
                href="https://axlbg.github.io/complejo-nuevafederacion/"
                class="a"
                target="_blank"
                >https://axlbg.github.io/complejo-nuevafederacion/</a
              >
            </small>
          </h4>
        </div>
      </div>
      <div class="item">
        <div class="list">
          <h4 class="h4">Una página para las cabañas de Nueva Federación</h4>
        </div>
      </div>
      <div class="item-img">
        <img src="/assets/imgs/nuevafed.jpg" class="img" loading="lazy" />
      </div>
    </div>
  </div>
</section>
