<section class="about" id="about">
  <div class="section">
    <div class="borderbox">
      <div class="container"><h3>sobre mí:</h3></div>
      <div class="container">
        <h4 class="marginbot">
          Soy Axel Guzmán, estudiante de programación de Argentina.
        </h4>
        <h4>
          Llevo más de 5 años programando, actualmente estoy terminando la
          tecnicatura en programación en la Universidad Tecnológica Nacional y
          algunos cursos online donde aprendí a manejar distintos frameworks y
          tecnologías.
          <br /><br />Como las siguientes:<br />
        </h4>
        <br />
        <div class="box">
          <div class="imgs"></div>
          <div class="imgs">
            <img
              src="https://skillicons.dev/icons?i=html,css,js,ts,php,py"
            /><br />
            <img
              src="https://skillicons.dev/icons?i=c,cs,angular,django,dotnet,react"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
