.about {
  display: flex;
  flex-flow: nowrap;
  align-items: start;
  justify-content: space-evenly;
  padding-top: 6em;
}

.container {
  width: 43%;

  display: flex;
  flex-flow: column;
  align-items: start;

  padding: 0;
  margin: 0;
}
