.about {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.container {
  width: 43%;

  display: flex;
  flex-flow: column;
  align-items: flex-start;

  padding: 0;
  margin: 0;
}

.borderbox {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 6em;
}

.marginbot {
  margin-bottom: 4.5rem;
}
