<section class="about">
  <div class="container"><h3>Algo sobre mí:</h3></div>
  <div class="container">
    <h3>
      I'm Bobby Jackson, a self-taught front-end developer from France,
      passionate about crafting beautiful web and mobile experiences.
    </h3>
    <h4>
      After studying graphic design for 2 years, I decided to transition to
      front-end development. This equipped me with the skills to develop
      applications with an emphasis on design. As of today, I'm very happy at
      the crossroads of creativity and engineering, blending design and code to
      create neat and reliable experiences. When I'm not working, you can find
      me playing piano, sketching letters, exploring new places, or simply
      getting lost on the internet.
    </h4>
  </div>
</section>
