* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: "abc-normal";
  background-color: rgb(16, 18, 8);
}
a {
  display: inline;
  text-decoration: none;
  color: inherit;
}

.navbar {
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 1rem;
  position: fixed;
  z-index: 101;
  width: 100%;
  user-select: none;
  justify-content: space-between;

  overflow: hidden;
  margin: auto;
}

.brand {
  width: fit-content;
  overflow: hidden;
  display: inline-flex;
}

.box {
  overflow: hidden;
  display: flex;
}

.a {
  margin-right: 1.9rem;
}
.a :hover {
  color: rgb(205, 225, 105);
}

.cp {
  overflow: hidden;
  justify-self: flex-end;
}

.h3 {
  font-size: 1.4rem;
  font-family: "myFont";
}

@media screen and (max-width: 600px) {
  .cp {
    display: none;
  }
}
