.titulo {
  width: 100%;

  position: relative;

  padding-top: 10em;
  padding-bottom: 10em;
}

.h1 {
  margin: -0.19em;
}

.borderbox {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 3em;
}

.container {
  width: 760px;
  overflow: hidden;
}

.duplicado {
  display: flex;
  align-items: flex-start;
  gap: 400px;
  width: 500%;
}

.cloud {
  animation: drift 9s linear infinite;
}

.cloud-two {
  animation: drift-backwards 25s linear infinite;
}

@keyframes drift {
  from {
    transform: translateX(-750px);
  }
  to {
    transform: translatex(800px);
  }
}
@keyframes drift-backwards {
  from {
    transform: translateX(700px);
  }
  to {
    transform: translatex(-2250px);
  }
}

@media screen and (max-width: 920px) {
  .borderbox {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 3em 2em;
  }
  .container {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .borderbox {
    padding: 1em 1.5em 4em;
    gap: 1em;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 480px;
    padding-top: 2em;
  }
}
