.titulo {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  position: relative;

  padding-top: 10em;
  padding-bottom: 10em;
}

.h1 {
  margin: -0.19em;
}

.borderbox {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 3em;
}

.container {
  width: 760px;
  overflow: hidden;
}

.duplicado {
  display: flex;
  align-items: flex-start;
  gap: 400px;
  width: 500%;
}

.cloud {
  animation: drift 9s linear infinite;
}

.cloud-two {
  animation: drift-backwards 25s linear infinite;
}

@keyframes drift {
  from {
    transform: translateX(-750px);
  }
  to {
    transform: translatex(800px);
  }
}
@keyframes drift-backwards {
  from {
    transform: translateX(700px);
  }
  to {
    transform: translatex(-2250px);
  }
}
