<section class="circle">
  <div class="carta-box">
    <div class="carta">
      <div class="cara">
        <img
          src="https://us.123rf.com/450wm/berka/berka1406/berka140600470/29535947-fotograf%C3%ADa-del-cuero-artificial-gruesa-vivid-amarillo-lima-muestra-la-textura.jpg"
          class="img"
        />
      </div>
      <div class="cara detras">
        <img
          src="https://avatars.githubusercontent.com/u/26819418?v=4"
          class="img"
        />
      </div>
    </div>
  </div>
  <div class="carta-box">
    <div class="carta">
      <div class="cara">
        <img
          src="https://us.123rf.com/450wm/berka/berka1406/berka140600470/29535947-fotograf%C3%ADa-del-cuero-artificial-gruesa-vivid-amarillo-lima-muestra-la-textura.jpg"
          class="img"
        />
      </div>
      <div class="cara detras">
        <img
          src="https://avatars.githubusercontent.com/u/26819418?v=4"
          class="img"
        />
      </div>
    </div>
  </div>
  <div class="carta-box">
    <div class="carta">
      <div class="cara">
        <img
          src="https://us.123rf.com/450wm/berka/berka1406/berka140600470/29535947-fotograf%C3%ADa-del-cuero-artificial-gruesa-vivid-amarillo-lima-muestra-la-textura.jpg"
          class="img"
        />
      </div>
      <div class="cara detras">
        <img
          src="https://avatars.githubusercontent.com/u/26819418?v=4"
          class="img"
        />
      </div>
    </div>
  </div>
</section>
