/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
body {
  background-color: rgb(16, 18, 8);
}
a {
  display: inline;
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-size: inherit;
  color: rgb(235, 255, 105);
}
@font-face {
  font-family: "myFont";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "myFont-Light";
  src: url("/assets/fonts/Roboto-Light.ttf") format("truetype");
  font-display: swap;
}

h1 {
  font-size: 12rem;
  font-family: "myFont";
  user-select: none;
}

h2 {
  font-size: 5.6rem;
  line-height: 1.2em;
  font-family: "myFont-Light";
  width: fit-content;
}

h3 {
  font-size: 2.6rem;
  line-height: 1.2em;
  font-family: "myFont-Light";
  width: fit-content;
}
h4 {
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: "myFont-Light";
  width: fit-content;
}

.borderbox {
  width: 100%;
  --b: 1px; /* thickness of the border */
  --c: rgb(235, 255, 105); /* color of the border */
  --w: 25px; /* width of border */

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background: conic-gradient(
        from 90deg at top var(--b) left var(--b),
        var(--_g)
      )
      0 0 / var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 /
      var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% /
      var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100% / var(--_p);
}

section {
  padding: 6em 0;
}

.section {
  width: 90%;
  max-width: 1700px;
  margin: auto;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1220px) {
  h1 {
    font-size: 9rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1220px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.3em;
  }
}
